@tailwind base;
@tailwind components;
@tailwind utilities;

/* 100 */
@font-face{
    font-family: 'Poppins';
    src: url('../public/font/Poppins-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

/* 200 */
@font-face{
    font-family: 'Poppins';
    src: url('../public/font/Poppins-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

/* 300 */
@font-face{
    font-family: 'Poppins';
    src: url('../public/font/Poppins-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

/* 400 */
@font-face{
    font-family: 'Poppins';
    src: url('../public/font/Poppins-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

/* 500 */
@font-face{
    font-family: 'Poppins';
    src: url('../public/font/Poppins-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

/* 600 */
@font-face{
    font-family: 'Poppins';
    src: url('../public/font/Poppins-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

/* 700 */
@font-face{
    font-family: 'Poppins';
    src: url('../public/font/Poppins-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

/* 800 */
@font-face{
    font-family: 'Poppins';
    src: url('../public/font/Poppins-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

/* 900 */
@font-face{
    font-family: 'Poppins';
    src: url('../public/font/Poppins-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

